{% extends "base.html" %}

{% block title %}Find the Repairman{% endblock title %}

{% block script %}
{% endblock script %}

{% block page_content %}
<form role="form" name="searchform" action="/search/" method="get" class="searchform-wrap"> 
    <div class="form-group">
        <label for="name">Search Job:</label>
        <select class="form-control" name="job">
            <option value="None",selected="selected">Please select</option>
            <option value="hairdresser">hairdresser</option>
            <option value="electrician">electrician</option>
        </select>
        <label for="name">Search postcode:</label>
        <select class="form-control" name="postcode">
            <option value="None",selected="selected">Please select</option>
            <option value="200086">200086</option>
            <option value="200233">200233</option>
        </select>
   </div>
   <div class="btn-group">
       <input type="submit" class="btn btn-primary" value="submit">
   </div>
</form>
{% endblock %}
